# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Production Build
# ===============================
dist/
build/

# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/

# ===============================
# Vercel
# ===============================
.vercel

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Testing
# ===============================
coverage/
