RewriteEngine On
RewriteBase /

# Don't touch real files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# All other requests go to index.html
RewriteRule ^ index.html [L]
